# Project files
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/markdown-navigator*
/.idea/shelf
/dev/.vagrant/
/dev/php_errors.log
/dev/dev-control/
/dev/db_backup_*
/dev/local.itermocil.yaml


# General swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.sass-cache*

!*.gitkeep
