#{select("Neos.Form.Builder:ValidatorCollection")}, #{select("Neos.Form.Builder:ValidatorCollection")} .neos-empty-contentcollection-overlay {
  padding-left: 20px;
  position: absolute;
  z-index: 110;
  top: 0;
  right: 0;
  outline: none !important;
  height: 20px;
  background: #fff;
  vertical-align: middle;
}


#{select("Neos.Form.Builder:ValidatorCollection")} .neos-empty-contentcollection-overlay:before {
  font: 16px FontAwesome;
  color: #bbb;
  outline: none;
  display: inline-block;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 2px;
  vertical-align: middle;
  content: "\F058";
}

#{select("Neos.Form.Builder:ValidatorCollection")} #{$anyContentElement} {
  display: inline-block;
  outline-offset: 1px !important;
  padding: 0 3px;
  margin: 0 1px;
  cursor: pointer;
}

#{select("Neos.Form.Builder:ValidatorCollection")} #{$anyContentElement}:before {
  font: 16px FontAwesome;
  color: #00adee;
  content: "\F058";
}

#{select("Neos.Form.Builder:ValidatorCollection")} {
  #{select("Neos.Form.Builder:AlphanumericValidator")}:before,
  #{select("Neos.Form.Builder:TextValidator")}:before {
    content: "\F031";
  }
  #{select("Neos.Form.Builder:CountValidator")}:before {
    content: "\F160";
  }
  #{select("Neos.Form.Builder:DateTimeRangeValidator")}:before {
    content: "\F274";
  }
  #{select("Neos.Form.Builder:EmailAddressValidator")}:before {
    content: "\F003";
  }
  #{select("Neos.Form.Builder:FloatValidator")}:before,
  #{select("Neos.Form.Builder:IntegerValidator")}:before,
  #{select("Neos.Form.Builder:NumberRangeValidator")}:before {
    content: "\F162";
  }
  #{select("Neos.Form.Builder:RegularExpressionValidator")}:before {
    content: "\F120";
  }
  #{select("Neos.Form.Builder:StringLengthValidator")}:before {
    content: "\F035";
  }
}